[Unit]
Description=Run import-ssh-keys.service every 24 hours

[Timer]
OnBootSec=10min  # Run 10 minutes after booting
OnUnitActiveSec=24h  # Run every 24 hours after the last activation
Persistent=true  # If the timer is inactive and missed the last run, it will run the associated service once before resuming the normal interval

[Install]
WantedBy=timers.target
