[Unit]
Description=Import SSH keys from GitHub

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'curl -s https://github.com/qnlbnsl.keys >> "${HOME}/.ssh/authorized_keys"'

[Install]
WantedBy=multi-user.target
