# -*- mode: conf -*-

[commit]
  gpgsign = true

[alias]
  commit = commit -s -S
  ci     = commit
  t      = tag -s

[github]
  user = qnlbnsl

[user]
  email      = qnlbnsl@gmail.com
  name       = Kunal Bansal

