.emacs
.vscode/
.yas-compiled-snippets.el
fish_history
fishd.*
generated_completions
get-docker.sh
tmp
shell/.gitconfig.immertec
shell/.gitconfig.qnlbnsl
gh/
.gitconfig.immertec
.gitconfig.qnlbnsl
.bashrc

installers/linux/.git_gpg_update
installers/linux/@
shell/.config/raycast/*
shell/.config/neofetch/config.conf
shell/.config/configstore/update-notifier-npm.json
shell/.zshenv
